

/* Add Border Box to all elements */
/* html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} */

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
  } */

:root {
    --grid-columns: 16;
    --grid-rows: 16;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    justify-items: center;
    background-color: lightgrey;
}

.header h1 {
    font-family: 'Gruppo', cursive;
    margin: 0.5em 0;
}

.reset-container {
    display: grid;
    justify-content: center;
}

#reset {
    margin: 1em 0 0 0;
    padding: 0.75em;
    font-size: 1.5em;
    border-radius: 1em;
    /* font-family: 'Gruppo', cursive; */
}

#grid-container {
    display: grid;
    margin: 3em;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    /* justify-items: center; */
    justify-items: stretch;
    border-style: inset;
    border-width: 3em;
    border-color: red;
    border-radius: 2em;
    /* gap: 1em; */
    /* border: 1em solid red; */
}

.grid-item {
    padding-bottom: 100%;
    /* padding: 1em; */
    /* border: 0.25em solid lightskyblue; */
}

.footer {
    font-family: 'Gruppo', cursive;
    background-color: lightgrey;
    display: grid;
    justify-items: center;
}

/* div {
    width: 2em;
    height: 2em;
    background-color: yellow;
    border: thick double #32a1ce;
} */